/*===========RESET BASICO==========*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	line-height: 1.4em;
}
html,body {	font-size: 16px; background-color: #ecf0f1; height: 100%;}

input:focus,textarea:focus { outline: none; }

p {	font-size: 1rem; }

h1 { font-size: 1.5rem; font-weight: 700; color: #4B0082; text-transform: uppercase; }

h2 { font-size: 1.25rem; color: #606; text-transform: uppercase; }

h3 { font-size: 1.15rem; color: #111; text-transform: uppercase; }

ul { list-style: none; }

a {	text-decoration: none; }

img { max-width: 100%; }

i {	padding-right: 10px; color: #2A0A29; font-weight: 700; }

/*=============Header=============*/
header {
	width: 100%;
}
.topo {
	height: 70px;
	background-color: #ecf0f1;
}
.logo {
	width: 15%;
}

.logo a {
	font-size: 0;
	width: 150px;
	height: 70px;
	padding: 5px 10px;
	margin-left: 50px;
	float: left;
	background-image: url(img/logo1.png);
	background-repeat: no-repeat;
	background-position: center;
}

.social {
	margin-top: 15px;
	width: calc(85% - 50px);
	float: right;
	padding-right: 50px; 
}

.social li {
	float: right;
	/*padding: 10px 15px;*/
}
.social li a {
	color: #111;
	transition: all .5s;
}

.social li a:hover {
	color: #fff;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.menu {
	clear: both;
	width: 100%;
	height: 50px;
	float: left;

	background-color: #2A0A29;
	position: relative;
	z-index: 1;
}
.menufixo {
	top: 0;
	position: fixed;
	z-index: 99;
	background-color: rgba(42, 10, 41, 1);
	transition: all .5s;
}
.menu ul {
	width: 50%;
	margin: 0 auto;
}
.menu ul a {
	float: left;
	padding: 14px 15px;
	color: #F2F2F2;
	transition: all .5s;
}
@keyframes menu {
	0% {
		transform: rotateX(0);
	}
	50% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(0);
	}
}
.menu ul a:hover {
	color: #111;
	background-color: #ecf0f1;

	animation-name: menu;
	animation-duration: .5s;
	animation-delay: .2s;
	animation-timing-function: linear;	
	animation-iteration-count: 1;
}

#owl-demo .item {
	display: block;
	width: 100%;
	height: auto;
}
.conteudo {
	float: left;
	padding: 1%;
}
.conteudo header {
	width: 100%;
	height: 50px;
}
.conteudo header h1 {
	padding-left: 1%;
}
.conteudo article {
	padding: 1%;
	margin: 1%;
	float: left;
	width: 23%;
	background-color: #fff;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #333;
	cursor: pointer;
	transition: all .5s;
}

.conteudo article:hover {
	margin-top: 0;
}

.orcamento {
	float: left;
	padding: 1%;
	width: 100%;
	background-image: url(img/atendimento.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.orcamento::before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}
.container {
	padding: 1%;
	width: 100%;
	float: left;
	position: relative;
	z-index: 1;
	background-color: rgba(255,255,255,.5);
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
.container p {
	margin-bottom: 1%;
}
.orcamento form{
	float: left;
	position: relative;
	width: 100%;
	padding: 1%;
}
.orcamento form input {
	width: 45%;
	float: left;
}
.orcamento form textarea {
	width: 45%;
	float: right;
	height: 60%;
	position: absolute;
	top: 45px;
	left: 50%;
}
.orcamento form label[for='mensagem'] {
	position: absolute;
	top: 10px;
	left: 50%;
}
.orcamento form label {
	clear: both;
}
.orcamento form input,textarea {
	height: 44px;
	/*width: 100%;*/
	background-color: #ecf0f1; 
	border: 2px solid #111;
	transition: all .5s;
}
::-webkit-input-placeholder {
	color: rgba(51, 0, 102, .7);
	font-size: 1rem;
} 
:-ms-input-placeholder  {
	color: rgba(51, 0, 102, .7);
	font-size: 1rem;	
}

::-ms-input-placeholder {
	color: rgba(51, 0, 102, .7);
	font-size: 1rem;
}
::-moz-placeholder {
	color: rgba(51, 0, 102, 1);
	font-size: 1rem;
}
.orcamento form input:focus,textarea:focus {
	border: 2px solid #2A0A29;
	box-shadow: 1px 1px 30px rgba(42, 10, 41, .5);
}

.orcamento form input[type="submit"]{
	width: 15%;
	margin-top: 7%;
	margin-right: 4%;
	float: right;
	font-size: 1.2rem;
	color: #cfcfcf;
	background-color: #303;
	transition: all 0.5s;
}
.orcamento form input[type="submit"]:hover{
	color: #220A29;
	border: 2px solid #220A29;
	background-color: #E8DFFF;
	transform: scale(1.1); 
}
.orcamento form input,textarea,label {
	margin-top: 1%;
	border-radius: 5px;
	display: block;
}

.local {
	position: relative;
	padding: 0 1%;
	float: left;
	width: 100%;
	height: 460px;
	background: #f3f3f3;
}
.local h1 {
	padding: 1%;
}
.dadoslocal {
	float: right;
	margin: 0 auto;
	padding: 1%;
	width: 30%;
	height: 400px;
	background-color: rgba(150,0,150, .1);
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
.map {
	float: left;
	margin: 0 auto;
	width: 68%;
	border-radius: 10px;
}
.map iframe {
	border-radius: 10px;
	width: 100%;
	height: 400px;
	overflow: hidden;
	border: none;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}

footer {
	margin-top: 1%;
	position: relative;
	width: 100%;
	float: left;
	background-color: #8181F7;
	text-align: center;
	width: 100%;
	color: #f5f5f5;
}
.contato {
	text-align: left;
	margin: 1%;
}