/*=============Header=============*/
header {
    width: 100%;
}
.topo {
    height: 70px;
    background-color: #ecf0f1;
}
.logo {
    width: 15%;
}

.logo a {
    font-size: 0;
    width: 150px;
    height: 70px;
    padding: 5px 10px;
    margin-left: 50px;
    float: left;
    background-image: url(img/logo1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.social {
    margin-top: 15px;
    width: calc(85% - 50px);
    float: right;
    padding-right: 50px;
}

.social li {
    float: right;
    /*padding: 10px 15px;*/
}
.social li a {
    color: #111;
    transition: all .5s;
}

.social li a:hover {
    color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.menu {
    clear: both;
    width: 100%;
    height: 50px;
    float: left;

    background-color: #2A0A29;
    position: relative;
    z-index: 1;
}
.menufixo {
    top: 0;
    position: fixed;
    z-index: 99;
    background-color: rgba(42, 10, 41, 1);
    transition: all .5s;
}
.menu ul {
    width: 50%;
    margin: 0 auto;
}
.menu ul a {
    float: left;
    padding: 14px 15px;
    color: #F2F2F2;
    cursor: pointer;
    transition: all .5s;
}
@keyframes menu {
    0% {
        transform: rotateX(0);
    }
    50% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0);
    }
}
.menu ul a:hover {
    color: #111;
    background-color: #ecf0f1;

    animation-name: menu;
    animation-duration: .5s;
    animation-delay: .2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#owl-demo .item {
    display: block;
    width: 100%;
    height: auto;
}
